 {{#if success_msg}}
<div class="alert alert-success">{{success_msg}}</div>
{{/if}} {{#each sanphamct}}
<div class="row">
    <h1 id="chitiet">CHI TIẾT SẢN PHẨM</h1>
    <div class="detail">
        <img width="240" height="288" src="../{{ this.imagePath }}" alt="..." class="img-responsive" style="float:left" id="img-detail">
        <div class="caption" id="caption-detail">
            <h3>{{ this.tenSanPham }}</h3>
            <p> Số lần xem: {{this.solanxem}}</p>
            <p class="description">{{ this.description }}</p>
            <p>{{this.maSanPham}}</p>
            <div class="clearfix">
                <div class="price">{{ this.gia }} VND</div>
                <a id="themvaogio" href="/themvaogio/{{this._id}}" class="btn btn-success" role="button">Thêm vào giỏ hàng</a>
            </div>
        </div>
    </div>
</div>
{{/each}}

<div class="well">
    <p class="title-search">bình luận</p>
    <form method="post">
        {{#if error_msg}}
        <div class="alert alert-success">{{error_msg}}</div>
        {{/if}} {{#unless tk}}
        <div >
            <input class="tengui" type="text" name="ten" placeholder="Tên Người Gửi">
        </div>
        {{/unless}}
        <textarea name="binhluan" cols="90" rows="5" placeholder="Mời bạn để lại bình luận..."></textarea>
        <div id="gui">
            <button class="btn btn-success" role="button" type="submit">Gửi</button>
        </div>
    </form>
    
    {{#each sanphamct}}
    <h4>{{this.comments.length}} Bình luận</h4>
    <hr>
    <div class="row">
        {{#each this.comments}}
        <div class="col-md-12">
            <img  src="/images/contact.png">
            <strong>{{this.author.username }}</strong>
            <p>
                {{ this.noidung}}
            </p>
        </div>
        <div>{{this.date}} {{this.time}}</div>
        <hr>
        {{/each}}
    </div>
    {{/each}}
</div>

<p class = "title-search">Sản phẩm cùng loại</p>
 {{# each splq}}
<div class="row">
  {{# each this }}
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="/chitietsanpham/{{this._id}}">
        <img src="/upload/{{ this.imagePath }}" alt="..." class="img-responsive">
      </a>
      <div class="caption">
        <h3>{{ this.tenSanPham }}</h3>
        <div class="clearfix">
          <div class="price pull-left">{{ this.gia }} VND</div>
        </div>
      </div>
    </div>
</div>
  {{/each}}
</div>
{{/each}}