{{#each sanphamct}}
    <div class="row">
        {{# each this }}
        <p id="chitiet">CHI TIẾT SẢN PHẨM</p>
        <div class="detail">
            <img width = "240" height="288" src="../{{ this.imagePath }}" alt="..." class="img-responsive" style="float:left" id="img-detail">
            <div class="caption" id="caption-detail">
              <h3>{{ this.tenSanPham }}</h3>
              <p class="description">{{ this.description }}</p>
              <p>{{this.maSanPham}}</p>
              <div class="clearfix">
                <div class="price">${{ this.gia }}</div>
                <a href="" class="btn btn-success" role="button">Thêm vào giỏ hàng</a>
              </div>
            </div>
        </div>
        {{/each}}
      </div>
    {{/each}}
