{{# if sanphams}}
<div class = "row">
    <div id="title-GIOHANG">
            <h1>GiỎ HÀNG CỦA BẠN</h1>
        </div>
    <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{# each sanphams}}
            <li class = "list-group-item">
                <span class="badge">{{ this.qty}}</span>
                <strong>{{this.item.tenSanPham}}</strong>
                <span class="label label-success">${{this.gia}} </span>
                <a href="/themvaogio/{{this.item._id}}" type="button" class="label label-success"> + </a>
                <a href="/giohang_bo_1/{{this.item._id}}" type="button" class="label label-success"> - </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>Tổng tiền: {{totalPrice}} </strong>
    </div>
</div>
<hr>
<div class = "row">
    <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a href="/kiemtra" type="button" class="btn btn-success"> Đặt hàng</a>
        <a href="/" type="button" class="btn btn-default"> Tiếp tục mua hàng</a>
    </div>
</div>
{{ else }}
<div class = "row">
    <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h2>Giỏ hàng trống, hãy chọn sản phẩm</h2>
    </div>
</div>
{{/if}}
