<div class="row">
    <div class="col-md-4">
        <h3 class="page-header">THÔNG TIN TÀI KHOẢN</h3>
        <div style="margin:15px">
            {{#each accout}}
            <a id="profile" href="/user/profile/{{this._id}}" style="color: black"><span class="glyphicon glyphicon-th-list"></span><span> THÔNG TN TÀI KHOẢN</span></a>
            {{/each}}
        </div>
        <div style="margin:15px">
            <a id="profile" href="/user/profile/lich-su-giao-dich" style="color: black"><span class="glyphicon glyphicon-user"></span><span> LỊCH SỬ GIAO DỊCH</span></a>
        </div>
    </div>
    <div class="col-md-8">
        {{#each customers}}
        <h3 class="page-header">THÔNG TIN TÀI KHOẢN</h3>
        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <label class="form-label" for="field-120334">Tên khách hàng</label>
            <span class="desc"></span>
            <input type="text" value="{{this.tenKhachHang}}" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <label class="form-label" for="field-120334">Email</label>
            <span class="desc"></span>
            <input type="text" value="{{this.email}}" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <label class="form-label" for="field-120334">Ngày sinh</label>
            <span class="desc"></span>
            <input type="text" value="{{this.ngaySinh}}" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <label class="form-label" for="field-120334">Giới tính</label>
            <span class="desc"></span>
            <input type="text" value="{{this.gioiTinh}}" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <label class="form-label" for="field-120334">Số điện thoại</label>
            <span class="desc"></span>
            <input type="text" value="{{this.soDienThoai}}" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <label class="form-label" for="field-120334">Địa chỉ</label>
            <span class="desc"></span>
            <input type="text" value="{{this.diaChi}}" class="form-control">
        </div>
        {{/each}}
    </div>
</div>